.inline-blocks > .block {
  display: inline-block;
  vertical-align: middle;
}

.image {
  height: 140px;
  width: 140px;
  border-radius: 180px;
  border: 3px solid #fff;
  margin-top: 22px;
  margin-right: 40px;
}

.twenty-one {
  font-size: 240px;
  font-family: "Josefin Sans";
  font-weight: 100;
  line-height: 180px;
  color: #fff;
  margin: 40px 0;
}

.bday {
  font-size: 24px;
  color: #fff;
  font-family: "Josefin Sans";
  font-weight: 300;
  text-align: center;
}

.cover {
  background: rgba(0, 0, 0, 0.82);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

#can {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.super-centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #ffffff;
}

a {
  color: skyblue;
  text-decoration: none;
}

.overlay-static {
  position: relative;
  z-index: 100;
  margin-bottom: 100px;
}

.lock-screen {
  position: fixed;
  z-index: 200;
  background-image: url("./Assets/backk.jpeg");
  background-position: center center;
  background-size: contain;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}
.lock-screen h3 {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  font-size: 40px;
}
.lock-screen h1 {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  font-size: 80px;
}
.lock-screen .password-enter {
  position: absolute;
  z-index: 101;
  height: 200px;
  width: 50%;
  left: 25%;
  bottom: 80px;
  text-align: center;
}
.lock-screen .password-enter input {
  position: relative;
  height: 80%;
  width: 100%;
  font-size: 90px;
  background-color: transparent;
  overflow: hidden;
  color: white;
  text-align: center;
  border: none;
}
.lock-screen .password-enter button {
  height: 20%;
  width: 70%;
  padding: 10px;
}

.lock-screen.hide {
  display: none;
}

.mainB {
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
}
.mainB .li {
  height: 100vh;
  width: 100%;
}
.mainB .li:nth-child(1) {
  background: #111; /* variable */
  cursor: none;
  font-family: "Merriweather", serif;
}
.mainB .li:nth-child(2) {
  background-color: #ffa2a2;
  background-image: linear-gradient(0deg, #ffb199 0%, #111 100%);
}
.mainB .li:nth-child(3) {
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

.holder:hover > .finder {
  display: block !important;
}

.holder > .hidden {
  position: absolute;
  padding: 0px; /* variable */
  margin: 0px; /* variable */
  text-align: center;
  width: 100%;
  height: 85px;
  font-size: 4em;
  font-family: "Segoe UI";
  font-weight: lighter;
  top: calc(50% - 42px);
  color: #111;
}

.finder {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  display: block;
  pointer-events: none;
}

.holder p {
  position: absolute;
  width: 300px;
  padding: 10px;
  font-family: "Merriweather", serif;
  font-size: 30px;
  right: 10px;
  bottom: 10px;
  color: #111;
}

.mainB {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
.mainB .li {
  position: relative;
  scroll-snap-align: start;
}

.mainB::-webkit-scrollbar {
  width: 20px; /* width of the entire scrollbar */
}

.mainB::-webkit-scrollbar-track {
  background: rgb(55, 55, 55); /* color of the tracking area */
}

.mainB::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* color of the scroll thumb */
  width: 10px;
}

#carosel-img {
  height: 70%;
  position: absolute;
  top: 30px;
  left: calc(50% - 174px);
  border-radius: 25px;
  box-shadow: 0px 0px 20px #4a4a4a;
}

.controls {
  position: absolute;
  bottom: 50px;
  display: flex;
  width: 30%;
  left: 35%;
  text-align: center;
}
.controls div {
  margin: 20px;
}
.controls div:nth-child(2) {
  float: right;
}

.img-video video {
  height: 700px;
  width: 393px;
  position: absolute;
  top: calc(50vh - 350px);
  left: calc(50% - 197px);
}

.custom-img {
  width: 550px;
  margin-left: calc(50% - 275px);
  margin-top: calc(50vh - 275px);
  border-radius: 25px;
}

.custom-img-holder {
  text-align: center;
}

.custom-font {
  font-size: 20px;
}
.custom-font h1 {
  padding-top: 140px;
  padding-left: 50px;
  font-size: 30px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

.footermy {
  width: 100%;
  height: auto;
  font-size: 15px;
  color: #ccc;
  background-color: #111;
  text-align: center;
}/*# sourceMappingURL=style.css.map */